//VARIABLES

//RESPONSIVE DESIGN VARIABLES

//REUSE STYLE

//BASIC STYLE
.app{
    margin-left: 22rem;
}

.title{
    text-align: center;
}

.container{
    text-align: center;
}

.dashed-box{
    border: dashed 1px;
}